@charset "utf-8";
body {
    background-image: url(../images/login.jpg);
    font-size:14px;
    background-repeat: no-repeat;
}
#registerForm{
    width: 380px;
    height: 400px;
    background-color: rgb(12, 78, 177);
    margin:200px auto;
    padding-top: 30px;
    border:1px solid #ccc;
    border-radius: 1em ;

}
#registerForm p{
    text-indent: 45px;
}
#userName,
#password,
#code{
    height: 30px;
    border: 1px solid #ccc;
    /* text-indent: 24px; */
}
#userName{
    width: 280px;
    height: 25px;
 
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-position: 2px center; 
}
#password{
    width: 280px;
    height: 25px;

    /* background-image: url(banner_extension.jpg); */
    /* background-repeat: no-repeat;
    background-position: 2px center; */
}
#code{
    background-image: url(); 
    background-repeat: no-repeat; 
    background-position: 2px center; 
}
#codeImg{
    cursor: pointer;
    border:0;
    height: 30px;
    vertical-align: middle;
}
#btLogin{
    width: 280px;
    height: 35px;
    background-color:rgb(13, 76, 148);
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}






